html,body{
height:100%;
}


.left {
    width: 178px;
    float:left;
    background-color:black;
    min-height:100%;
    border-style: solid;
    border-color: dark;
}
.main {
  margin-left:178px;
  min-height:100%:
 }
 
.top {
	background-color:black;
	color:white;
	padding:20px;
	align="center">
    height: 92px;
    border-style: solid;
    border-color: black;
}
.button {
	margin: auto;
    background-color: #555555; 
    border: solid;
    color: white;
    padding: 32px 64px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

